/*!
 * link.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */

.dionysos-field.link {
    fieldset {
        box-sizing: border-box;
        display: inline-block;
        min-width: 51%;
        padding: 10px;
    }

    .submitbox {
        margin-bottom: 15px;
    }
}
